{% extends 'base.html' %}
{% block content %}
<!--Password Reset Complete-->
<style>
  .text-center{
    color: #17a2b8;
    margin: 0px;
  }
  h3.text-center{
    font-size: 2em  !important;
    margin-bottom: 20px;
  }





</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-5 col-md-8">
            <div class="bg-white  rounded-5 shadow-5-strong p-5">
                <h3 class="text-center ">Password reset complete </h3>
                <hr>
                <p style="font-size: 1.2em; color: #05053b;">Your password has been set. You may go ahead and log in
                    now.</p>
                <a class="btn btn-primary" href="/login">Log in</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}