{% extends 'base.html' %}
{% block content %}
<!--Password Reset Confirm-->
<style>
  .text-center{
    color: #17a2b8;
    margin: 0px;
  }
  h3.text-center{
    font-size: 2em  !important;
    margin-bottom: 20px;
  }



</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-5 col-md-8">
            <form class="bg-white  rounded-5 shadow-5-strong p-5" method="POST">
                {% csrf_token %}
                <h3 class="text-center ">Password Reset Confirm</h3>
                <hr>
                <p style="font-size: 1.2em; color: #05053b;">New Password*</p>
                <div class="form-outline mb-4">
                    <input aria-autocomplete="list" autocomplete="new-password" class="textinput textInput"
                           id="id_new_password1"
                           name="new_password1" required="" type="password">
                </div>
                <ul style="font-size: 0.8em; color: #05053b;">
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
                <p style="font-size: 1.2em; color: #05053b;">Confirm New Password*</p>
                <div class="form-outline mb-4">
                    <input autocomplete="new-password" class="textinput textInput" id="id_new_password2"
                           name="new_password2"
                           required="" type="password">
                </div>

                <button class="btn btn-primary" type="submit">Reset password</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}