{% extends 'base.html' %}
{% block content %}

<style>
  .text-center{
    color: #17a2b8;
    margin: 0px;
  }
  h3.text-center{
    font-size: 2em  !important;
    margin-bottom: 20px;
  }
  .form-label{
    font-size: 1.5em;
    color: #05053b;
  }
  .info-label{
     font-size: 1em;
     color: #1a1a6e;
  }
  .profile_pic{
    width: 20em;
  }








</style>

<div class="container" id="profile">
    <div class="row justify-content-center">
        <div class="col-xl-12 col-md-8">
            <form class="bg-white  rounded-5 shadow-5-strong p-5">
                <h3 class="text-center ">Profile Details</h3>
                <hr>
                <div class="row mb-4">
                    <div class="col">
                        <img class="profile_pic" src="{{request.user.student.profile_image.url}}">
                    </div>
                    <div class="col">
                        <div class="row justify-content-center">
                            <div class="col">
                                <label class="form-label">Full Name :
                                    <label class="info-label">{{request.user.student.first_name}}
                                        {{request.user.student.last_name}}</label></label>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <label class="form-label">Roll No :
                                    <label class="info-label">{{request.user.student.roll_no}}</label></label>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <label class="form-label">Branch :
                                    <label class="info-label">{{request.user.student.branch}}</label></label>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <label class="form-label">Year :
                                    <label class="info-label">{{request.user.student.year}}</label></label>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <label class="form-label">Division :
                                    <label class="info-label">{{request.user.student.div}}</label></label>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <label class="form-label">Email :
                                    <label class="info-label">{{request.user.student.email}}</label></label>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <label class="form-label">Mobile No :
                                    <label class="info-label">{{request.user.student.mobile}}</label></label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}